*{
  box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #B3B3B3;
}

.content{
  display: flex;
  justify-content: space-between;
  background: #1d1c1c;
    width: 100%;
    height: 100vh;
}

/* !Navbar */

.navbar {
    width: 240px;
    height: 100%;
    position: fixed;
    background: black;
    display: flex;
    flex-direction: column;
}


.navbar > img {
    width: 150px;
    height: auto;
    margin-left: 10%;
    margin-top: 5%;
}

.navbar_list{
    display: flex;
    flex-direction: column;
    margin-top: 15%;
    margin-left: 10%;
}

.list{
    margin: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
    background: none;
    border: none;
}

.list:focus {
    outline: none;
    color: white;
}

.list > img{
    padding-right: 15px;
}

.down_buttons{
    margin-top: 20px;
}

.navbar_down{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 15%;
    position: absolute;
    bottom: 3%;
}

.navbar_down p {
    margin: 3%;
}

/* !music List */
.music_list{
    width: 75%;
    height: auto;
    margin-left: 20%;
    display: flex;
    flex-direction: column;
    background-color: black;
}

.top{
    display: flex;
    
}

.top_title{
    margin-left: 5%;
}

.top_album{
    margin-left: 35%;
}

.top_date{
    margin-left: 20%;
}

.top > img{
    margin-left: 10%;
}



hr{
    border-bottom: 1px solid #B3B3B3;
    margin-top: 10px;
}


/* !music Item */

.music_item{
    width: 100%;
    height: 50px;
    margin-top: 3%;
    display: flex;
    background-color: darkblue;
    align-items: center;
}


.music_item > img{
    width: 50px;
    height: 50px;
    margin: 2%;
}

.music_item p{
    color: white;
}

.music_item_album {
    position: absolute;
    margin-left: 35%;
}