.create_music {
  width: 86%;
  margin: 10px 10px 10px 0;
  padding: 20px;
  background-color: #141414;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.title {
  font-family: sans-serif;
  font-weight: 700;
  font-size: 30px;
  color: #fff;
  margin-bottom: 90px;
}

.flex {
  width: 100%;
  display: flex;
  /*justify-content: space-between;*/
}

.inputs__wrapper {
  width: 55%;
  height: 570px;
  display: flex;
  flex-direction: column;
  /*align-items: center;*/
  justify-content: space-between;
}

.form__input::placeholder {
  padding-left: 40px;
  color: rgb(168, 168, 168);
}
.form__input {
  width: 80%;
  height: 50px;
  margin-left: 30px;
  background: #111111;
  border-radius: 10px;
  padding-left: 10px;
  border: none;
  outline: none;
  color: #fff;
  font-size: 18px;
}
.modal__btn {
  position: relative;
  margin-left: 415px;
  width: 250px;
  height: 60px;
  border-radius: 25px;
  background:  rgb(83, 83, 83);
  color: #111111;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 700;
  border: none;
  padding: 15px;
  transition: 0.5s;
}
.modal__btn:hover {
  color: #242424;
  background-color: #eeeeee;
}


.inputs__show {
  width: 28%;
  padding: 0 20px 20px 20px;
}
.poster__wrapper {
  width: 90%;
  margin: 0 auto;
}
.poster {
  width: 100%;
  border-radius: 15px;
}
.song {
  margin: 20px 0 20px 40px;
  font-family: sans-serif;
  font-weight: 600;
  font-size: 24px;
  color: #fff;
}
.album {
  margin: 10px 0 0 40px;
  font-family: sans-serif;
  font-weight: 500;
  font-size: 22px;
  color: #fff;
}